<div class="quiz" *ngIf="questions">

  <div class="questions" *ngIf="!showResults">
    <mat-card>
      <mat-card-content>
        <app-question-form 
          [question]="questions[currentQuestionIndex]"
          (onChoiceMade)="updateChoice($event)">
        </app-question-form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="nextOrViewResults()" [disabled]="!answers.values[currentQuestionIndex]">
          {{currentQuestionIndex === questions.length - 1 ? 'View Results' : 'Next'}}
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  
  <app-results *ngIf="showResults" [answers]="answers"></app-results>

</div>